name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }} symfony/${{ matrix.symfony }} psr/http-* ${{ matrix.psr-http }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
        symfony: ['^7', '^8']
        psr-http: ['^1', '^2', '^3']

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^7 || \^8"/\"${{ matrix.symfony }}"/g' composer.json
          sed -i 's/"\*"/"${{ matrix.psr-http }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run PHPUnit unit tests
        run: composer test
